{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
   
<div>
    <div>
     {% if message %}
        <h4>{{ message }}</h4>
     {% endif %}
    <div>
    <form action="{% url 'close_auction' auction.id  %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="close auction" class="close">
    </form>
     </div>
    <div class="listing-buttons ">
 {% if user.is_authenticated %} 
    {% if auction_watchlist %} 
    <form action="{% url 'remove_from_watchlist' auction.id %}" method="POST"> 
         {% csrf_token %}
     
        <input type="submit" name="remove_from_watchlist" value="remove from watchlist" class="remove_watchlist_btn">
     </form>
    {% else %}
    <form action="{% url 'add_to_watchlist' auction.id %}" method="POST">
        {% csrf_token %}
         
         <input type="submit" name="add_to_watchlist" value="Add to Watchlist" class="add_watchlist_btn">

     </form>

     {% endif %}
    </div>
 {% endif %}
</div>

    <div class="listing-container">
        <div class="listing-image">
    <img src="{{ auction.image_URL }}" alt="{{ auction.title }}">
        </div>
        <div class="listing-details">
            <h1>Titl:{{ auction.title }}</h1>
            <h6>Published by {{auction.auction_owner }} on {{ auction.date_of_auction }} </h6>
          {% if bids %}
            <h5>Price: {{ bids.bid }}$</h5>
          {% else %}
            <h5>Price: {{ auction.starting_price }}$</h5>
            {% endif %}
            <p>Description: {{ auction.description }}</p>

            <form action="{% url 'bid' auction.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="bid" placeholder="Place your bid" class="bid">
                <input type="submit" value="Bid" class="bid_btn">
            </form>
        </div>
    </div>
     
    <div>
        <h2>Comments:</h2>
        {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <h5>{{ comment.commenter }}</h5>
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
        {% if user.is_authenticated %}
        <form action="{% url 'add_comment' auction.id %}" method="POST">
            {% csrf_token %}
            <textarea name="comment" placeholder="Add a comment" cols="30" rows="5"></textarea>
            <input type="submit" value="Add Comment" class="bid_btn">
        </form>
        {% endif %}
    </div>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        h2 {
            color: #007BFF;
        }

        .listing-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ccc;
            padding: 20px;
            margin: 20px;
            margin-top: 60px;
        }

        .listing-image {
            flex: 1;
            max-width: 40%;
            padding: 10px;
        }

        img {
            max-width: 100%;
            max-height: 300px;
            display: block;
            margin: 0 auto;
        }

        .listing-details {
            flex: 1;
            padding: 10px;
        }

        h1 {
            margin-top: 0;
        }

        h5 {
            margin-top: 10px;
        }

        p {
            margin-top: 10px;
        }

        form {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
        .listing-buttons {
            display: flex;
            justify-content: space-between;
            margin-top: auto;
            float: right;
            margin-right: 19px;
        }
        .bid {
            width: 100%;
            padding: 5px;
            margin-top: 5px;
        }

        .message {
            color: #f00;
            margin-top: 5px;
        }

        .bid_btn {
            background-color: #062245;
            color: #fff;
            border: none;
            padding: 10px;
            margin-top: 10px;
            cursor: pointer;
        }
        .add_watchlist_btn{
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            width: auto;
            float: left;
        }
        .add_watchlist_btn:hover {
            background-color: #0069D9;
        }   
        .remove_watchlist_btn{
            background-color: #da1212dc;
            color: #fff;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            width: auto;
            float: left;
            
        }
        .remove_watchlist_btn:hover {
            background-color: #882525;
        }

        .comment {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        background-color: #f9f9f9;
    }

    .comment h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .comment p {
        font-size: 14px;
        margin-top: 5px;
    }
    </style>
{% endblock %}
